<script>
  function bind_name_autocomplete() {
    $( "#entered_name" ).autocomplete({source: "/taxa/taxon_name_autocomplete.json",minLength: 2});  
    return true;
  }
  
  // since the form is not built and the drop-down menu is not shown to the user immediately, we need to wait a bit before reselecting the correct biome
  function reselect_biome() {
   var t=setTimeout("get_biome_id();",1000);
   return true; 
  }
  
  // this method will find the correct biome_id and reselect it in the drop-down menu when a user is editing an ecosystem
  function get_biome_id() {
    var selected_row_id = $("#ecosystems_table").jqGrid('getGridParam','selrow');
    var row = $("#ecosystems_table").jqGrid('getRowData',selected_row_id);  
    $('#biome_name').val(row.biome_id);
  }
  
  $(function(){ 
    $("#taxa_table").jqGrid({
      url:'/taxa.json?jqgrid=true',
      colModel :[ 
        {name:'entered_name', label:'Taxon Name',index:'entered_name', width:350,editable: true, edittype:'text', editoptions: {size:50, maxlength: 200}, searchoptions: { sopt: ['cn', 'bw', 'eq','ew']}}, 
        {name:'scientific_name', label:'EOL Scientific Name', index:'scientific_name', width:350,  searchoptions: { sopt: ['cn', 'bw', 'eq','ew']}}, 
        {name:'eol_taxon_id', label:'EOL ID',index:'eol_taxon_id', width:80, formatter:makeEOLLink}, 
      ],
      pager: '#taxa_pager',caption:"Taxa",rowNum:30,rowList:[30,50,100,200],
      sortname: 'entered_name',sortorder: 'asc',
      editurl: '/taxa/actions_jqgrid?format=json'      
    }).navGrid('#taxa_pager',{<%unless can? :create, :taxon%>'add':false,<%end%><%unless can? :destroy, :taxon%>'del':false,<%end%><%unless can? :update, :taxon%>'edit':false,<%end%>'cloneToTop':true},
      {onInitializeForm:function(){bind_name_autocomplete();},editCaption: 'Edit species',width: 650, serializeEditData: function(postdata){return {'taxon':postdata};}},{onInitializeForm:function(){bind_name_autocomplete();},addCaption: 'Add species', width: 650, serializeEditData: function(postdata){return {'taxon':postdata};}},{jqModal:false,left:20,top:100})
  });

  $(function(){ 
    $("#ecosystems_table").jqGrid({
      url:'/ecosystems/index_jqgrid?format=json',
      colModel :[ 
        {name:'ecosystem_name', label:'Name', index:'ecosystem_name', width:300, editable: true, edittype:'text', editoptions: {size:50, maxlength: 200}, searchoptions: { sopt: ['cn', 'bw', 'eq','ew']}}, 
        {name:'description', label:'Description',index:'description', width:350, sortable: false, editable: true, edittype:'textarea',editoptions:{rows:3,cols:50},searchoptions: { sopt: ['cn', 'bw', 'eq','ew']}}, 
        {name:'biome_name', label:'Biome',index:'biome_name', width:250, sortable: true, editable: true, edittype:'select',editoptions:{dataUrl:'/biomes/htmlselect_jqgrid'} }, 
        {name:'biome_id',hidden:'true'},
      ],
      pager: '#ecosystems_pager',caption:"Ecosystems",rowNum:10000,
      sortname: 'ecosystem_name',sortorder: 'asc',
      editurl: "/ecosystems/actions_jqgrid?format=json"  
    }).navGrid('#ecosystems_pager',{<%unless can? :create, :ecosystem%>'add':false,<%end%><%unless can? :destroy, :ecosystem%>'del':false,<%end%><%unless can? :update, :ecosystem%>'edit':false,<%end%>'cloneToTop':true},
      {onInitializeForm:function(){reselect_biome();},editCaption: 'Edit ecosystem',width: 650, serializeEditData: function(postdata){pd=postdata;return {'ecosystem':{'oper': 'edit','id': postdata.id, 'description': postdata.description,'biome_id':postdata.biome_name,'name':postdata.ecosystem_name}};}},{addCaption: 'Add ecosystem',width: 650, serializeEditData: function(postdata){pd=postdata;return {'ecosystem':{'oper': 'add','id': postdata.id, 'biome_id':postdata.biome_name,'description': postdata.description,'name':postdata.ecosystem_name}};}},{jqModal:false,left:20,top:100});
  });
      
 function addTaxaToEcosystem() {
   var selectedTaxa=$("#taxa_table").getGridParam('selarrrow');
   var selectedEcosystems=$("#ecosystems_table").getGridParam('selarrrow');
   startLoading();
   $.ajax({
      type: "POST",dataType: "json",url: "/ecosystems/add_taxa?format=json",
      data: "taxa_ids=" + selectedTaxa+ "&ecosystems_ids=" + selectedEcosystems,
      complete: function(jqXHR, textStatus){endLoading();},
      success: function(data, textStatus, jqXHR){successMessage('Success');},
      error: function(jqXHR, textStatus, errorThrown){errorMessage(errorThrown);}
    });
  }

  function makeEOLLink ( cellvalue, options, rowObject )
  {
    if (cellvalue == null || cellvalue == 'null' || cellvalue == '') return ''; else return '<a target=_blank href="http://www.eol.org/pages/'+cellvalue+'">' + cellvalue + '</a>';
  }

  function matchTaxaToEOL () {
    showMatchWindow();
    $.get('/taxa/match_to_eol', function(data) {
      $('#eol_matching_dialog').html(data);
      })    
  }
  
  function matchSelectedTaxonToEOL() {
    var selectedTaxon=$('#taxa_table').getGridParam("selrow");
    if (selectedTaxon == '' || selectedTaxon == null) {
      warningMessage('Select a taxon to match.');
      return false;
    }
    showMatchWindow();
    $.get('/taxa/match_taxon_to_eol/' + selectedTaxon, function(data) {
      $('#eol_matching_dialog').html(data);
      })    
  }
  
  function showMatchWindow() {
    $('.main').fadeTo(1,.3);
    $('#eol_matching_dialog').fadeIn(); 
  }
  
  function refreshTaxa() { 
    $("#taxa_table").trigger("reloadGrid");
  }
  
</script>   
    
<p>Before visualizing species, you need to confirm and match them with taxa in the Encyclopedia of Life.  This process will go through each taxa you entered and attempt to find a matching taxon in EOL.  
 If a single match is found, the taxon's scientific name will be updated automatically and the corresponding EOL ID will be associated with the entry.  If more than one match is found, you will be shown a window
 where you can select the most appropriate match.</p>
 <br />
  <%= submit_tag 'Match all unknown taxa to EOL', :id=>'match_taxa_to_EOL'%> <%= submit_tag 'Match selected taxon to EOL', :id=>'match_single_taxon_to_EOL'%>
  
  <br /><br />
 
  <%=link_to '[export all taxa to csv]', :controller=>'taxa', :action=>'export'%>
 <table id="taxa_table"></table> 
  <div id="taxa_pager"></div>  
   
 <br />
 <%= submit_tag 'Add selected taxa to selected ecosystems', :id=>'add_taxa_to_ecosystems'%>
 <br /><br />
  <%=link_to '[export all ecosystems to csv]', :controller=>'ecosystems', :action=>'export'%> | <%=link_to '[export all biomes to csv]', :controller=>'biomes', :action=>'export'%>  
 <table id="ecosystems_table"></table> 
 <div id="ecosystems_pager"></div>

<script>
  // bind events
  
  $(document).ready(
      function()
      {       
  			$('#match_taxa_to_EOL').click(matchTaxaToEOL);
        $('#add_taxa_to_ecosystems').click(addTaxaToEcosystem);
        $('#match_single_taxon_to_EOL').click(matchSelectedTaxonToEOL);
        removeBottomToolbarButtons('taxa');
        removeBottomToolbarButtons('ecosystems');        
      }
  );  
</script>