<div class="navigation">
  <%= render :partial=>'sidenav' %>
</div>

<div class="content">

  <div id="navTabs">
    
    <ul>
        <li><a href="#species">Species</a></li>
        <li><a href="#otherdata">Ecosystems/Interaction Types</a></li>
        <li><a href="#observations">Observations</a></li>
        <li><a href="#viz">Visualize</a></li>
     </ul>
     
     <div id="species">
       
       <%= render :partial=>'species' %>

     </div>

     <div id="otherdata">
       
       <%= render :partial=>'otherdata' %>

     </div>

     <div id="observations">
       
       <%= render :partial=>'observations' %>

     </div>
     
     <div id="viz">
     
      <%= render :partial=>'visualize' %>
     
     </div>
       
  </div>

  <script>
  	$(function() {
  		$( "#navTabs" ).tabs();
  	});
  </script>

  <br />
    
 
</div>
