<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  
  <title>Encyclopedia of Life Species Visualization</title>

  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'cupertino/jquery-ui-1.8.10.custom.css' %>
  <%= javascript_include_tag :defaults %>

  <%= javascript_include_tag 'jquery-ui-1.8.10.custom.min', 'jquery.jnotify.min','grid.locale-en','jquery.jqGrid.min','jqgrid-defaults','jqModal' %>

  <%= javascript_include_tag 'rails' %>
  
  <%= csrf_meta_tag %>
</head>

<body>

<div id="ajax-indicator" style="display:none;" ></div>

<div id="page">
  
 
  	<div class="header">
    
      <div class="title"></div>
    
  	</div>

	<div id="eol_matching_dialog"> </div>
	 	
	<div class="main">
    
    <% if notice %>
      <script language="javascript">
        $.jnotify('<%=notice%>');	
      </script>
    <% end %>
    <% if alert %>
      <script language="javascript">
        $.jnotify('<%=alert%>','error');	
      </script>
    <% end %>    

      <%= yield %>
      
  </div>
    
  <div class="clearer"><span></span></div>

  
    <div class="footer">
    			<a href="http://www.eol.org/">Encyclopedia of Life</a><br />
          &copy; <%=Time.now.year%> EOL Species Interaction Visualization v<%= ENV['APP_VERSION'] unless ENV['APP_VERSION'].blank?%>. Template design from <a href="http://www.oswd.org/designs/favorites/page/4/">OSWD</a>
    </div>


</div>

</body>
</html>